
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.App {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  background-image: url("https://res.cloudinary.com/devlesscloud/image/upload/v1533764546/std-compressor_gvepxl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
}

.App-intro {
  text-align: center;
}

#App-container{
  background-color: rgba(23,106,144, 0.80);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#register-title{
  padding-top: 70px;
}

.disclaimer{
  margin-top: 8%;
}

