@import url("https://fonts.googleapis.com/css?family=Montserrat");

.App {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  background-image: url("https://res.cloudinary.com/devlesscloud/image/upload/v1533764546/std-compressor_gvepxl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:#fff;
  height: 100vh;
}

.App-intro {
  text-align: center;
}

#App-container{
  background-color: rgba(23,106,144, 0.80);
  height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#app-body{
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.disclaimer{
  margin-top: 4vh;
}

